/**
 * @file
 *    Colours - a sassy cascading style sheet
 *    
 *    The master colours of AquaMonte.
 *    @author    Hikaru Tamaki
 *    @package    AquaMonte
 */

/**
 *
 */
html {
    background: var(--am-colour-cardinal);
}

/**
 *
 */
body {
    background: white;
}

/**
 *
 */
#gnb {
    color: rgba(white, .87);
    background: var(--am-colour-cardinal);
}

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

//[EOF]*/