/**
 * @file
 *    Majestic - a sassy cascading style sheet
 *    
 *    The grand design of AquaMonte.
 *    @author    Hikaru Tamaki
 *    @package    AquaMonte
 */

$header_inset: ($header_height - $logo_height) / 2;

/**
 *
 */
.mode-dev {
    > header, > footer {
        // background: rgba(yellow, .15);
    }
    section {
    //     background: rgba(greenyellow, .15);
    }
    .liner {
    //     background: rgba(cyan, .15);
    }
    #gnb {
        // background: purple;
    }
}

/**
 *
 */
.liner {
    // padding: 0 .5rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .5rem;
    padding-left: .5rem;
}

/**
 *
 */
dl.info {
    display: table;
    > div {
        display: table-row;
        > dt, > dd {
            display: table-cell;
            padding: .125em;
        }
    }
    dt {
        font-size: 85%;
        text-align: right;
        &::after {
            content: ":";
        }
    }
}

/**
 *
 */
ul {
    &.checker, &.list-checker {
        list-style-type: "\f147";
        ::marker {
            font-family: dashicons;
        }
        li {
            margin: .5em 0;
            padding-left: .25em;
        }
    }
}

/**
 *
 */
#brand {
    font-size: 1rem;
    img {
        width: auto;
        height: $logo_height;
        object-fit: cover;
        vertical-align: bottom;
    }
}

/**
 *
 */
#site-title {
    font-size: 100%;
    font-weight: normal;
}

/**
 *
 */
#keyvis {
    .liner {
        padding: 0;
    }
}

/**
 *
 */
#tiara, #crown {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: $header_inset 0;
    &.rolled {
        box-shadow: 0 $xs $xs 0 rgba(0,0,0,.15);
    }
    & + * {
//        padding-top: $header_height;
    }
}

/**
 *
 */
#container {
    > article {
        > * {
            @extend .liner;
            padding-top: 2rem;
            padding-bottom: 2rem;
            &:nth-child(even) {
                color: white;
                background: rgba(purple, .87);
            }
        }
    }
    > section, > div {
        @extend .liner;
    }
}

/**
 *
 */
#burger {
    display: none;
}

/**
 *
 */
#gnb {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem 0;
    > label {
        &::before {
            @include faSolid;
            content: "\f0c9";
        }
        i {
            display: none;
        }
        & + ul {
            display: none;
        }
        &:has(:checked) {
            &::before {
                content: "\f107";
            }
            & + ul {
                display: block;
            }
        } 
    }
    > ul {
        > li {
            > a {
                display: block;
                padding: 1rem;
            }
        }
    }
}

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 * -----------------------------
 *    Responsives
 * -----------------------------
 */

/**
 *    larger than equal 640
 */
@media screen and (min-width: $breaker_s) {
    $header_inset: $header_inset * 1.5;
    $header_height: ($header_inset * 2) + $logo_height;

    .liner {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /**
     *
     */
    #tiara, #crown {
        padding: $header_inset 0;
        & + * {
            padding-top: $header_height;
        }
    }
}

/**
 *    larger than equal 1024
 */
@media screen and (min-width: $breaker_m) {
    $header_inset: $header_inset * 1.5;
    $logo_height: $bs;
    $header_height: ($header_inset * 2) + $logo_height;

    .liner {
        width: var(--am-breaker-solo);
        padding-left: calc((100% - var(--am-breaker-solo)) / 2);
        padding-right: calc((100% - var(--am-breaker-solo)) / 2);
    }

    #brand {
        img {
            height: $logo_height;
        }
    }

    /**
     *
     */
    #tiara, #crown {
        & + * {
            padding-top: $header_height;
        }
    }
}

/**
 *    larger than equal 1440
 */
@media screen and (min-width: $breaker_max) {
    .liner {
        // width: $bp_v;
    }
}

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

//[EOF]*/