/**
 *  @file   Principles
 *      Definitions of AquaMonte
 *  @note   just define, do on the other
 *  @author    Jean-Pierre Fukuyama
 *  @package    AquaMonte
 *  @since 2024-03-13 (ver. 0.9.1, edit. Quartz)
 */

/**
 *
 */
:root {
    --am-breaker-s: #{$breaker_s};
    --am-breaker-m: #{$breaker_m};
    --am-breaker-max: #{$breaker_max};
    --am-breaker-solo: var(--am-breaker-m);
    --am-colour-grey: #{$grey};
    --am-colour-cardinal: #{$cardinal};
}

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

//[EOF]*/