@charset "UTF-8";

/**
 * -----------------------------
 *    Masterpiece
 * -----------------------------
 */

@import "compass";

/**
 * -----------------------------
 *    Production portions
 * -----------------------------
 */

@import "exhaust";          // initialiser
@import "preservers";       // vars and mixins
@import "principles";       // definitions

/**
 *
 */
$logo_height: $us * 1.5;
$header_height: $logo_height + $us;

@import "elemental";        // HTML
@import "majestic";         // grand design
@import "colours";          // master colours

/**
 *
 */
html {
    font-family: $fonts;
}

/**
 *
 *
.test {
    @include border-radius;
}

/**
 *
 */
.hentry {
    img {
        height: auto;
    }
}

/**
 *
 */
#wp-custom-header {
    img {
        object-fit: cover;
        height: $qs * 2;
        width: 100%;
        vertical-align: middle;
    }
}

/**
 *
 */
.--liner {
    width: 100%;
    box-sizing: border-box;
    padding: $hs;
}

/**
 *
 */
#brand {
    svg {
        fill: magenta;
        width: 144px;
    }
}

/**
 *
 */

/**
 *
 */

/**
 * -----------------------------
 *    Responsives
 * -----------------------------
 */

/**
 *    larger than equal 640
 */
@media screen and (min-width: $breaker_s) {
    #wp-custom-header {
        img {
            height: $qs * 3;
        }
    }
}

/**
 *    larger than equal 1024
 */
@media screen and (min-width: $breaker_m) {
    #wp-custom-header {
        img {
            height: $qs * 4;
        }
    }
}

/**
 *    larger than equal 1440
 */
@media screen and (min-width: $breaker_max) {
    #wp-custom-header {
        img {
            height: $qs * 5;
        }
    }
}

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

//[EOF]*/